{% extends 'base.html' %}
{% load static %}
{% block title %} {{realtors.property}} 
{% endblock title %}

	{% block body %}
		<div class="card" style="width: 50rem;">
		<div class ="card-body">
			

	<h1 class ="text-bold"> {{ realtor.name}} </h1>
	<img class= "rounded" src="{{ realtor.photo.url}}" alt=" ">
	
	<h2 class="text-primary"> {{ realtor.phone }} </h2>
	<h3 class="text-warning"> {{ realtor.email }}</h3>
	<h4 class="text-success"> {{ realtors.ratings }}</h4>
	<h4 class="text-info"> {{ realtor.district }}</h4>
	<p> {{ realtors.describtion }} </p>
</div>

</div>