{% extends 'base.html' %}
{% load static %}
{% block title %} {{realtors.property}} 
{% endblock title %}

	{% block body %}
	

	<h1 class ="text-bold"> {{ realtor.owner_name}} </h1>
	<img class= "rounded float-left md-10" src="{{ realtor.photo.url}}" alt=" ">

	
	<div >
	<h2 class= " card-body bg-#a1887f brown lighten-2 text-dark mt-5" style="width: 40rem;"> contact :{{ realtor.phone }} </h2>
	<h3 class= " card-body bg-#f4ff81 lime accent-1 text-dark mt-4" style="width: 40rem;">Email to: {{ realtor.email }}</h3>
</div>
	<div class="card bg-light" style="length: 100rem;">
		
			


			<h4 class="text-success" small> {{ realtor.description }}</h4>
		
	

</div>



<h4 class= " card-body bg-#e0f2f1 teal lighten-5mt-4" style="width: 20rem;"> {{ realtor.details }}</h4>

	
<h5 class=" card-body bg-#fff8e1 amber lighten-5mt-4" style="width: 20rem;">
	 Price of Property :{{ realtor.price }}</h5>
{% if request.user.username == realtors.owner.username %}



<a href ="{% url 'edit' realtor.id %}">Edit Propety Details </a>
{% endif %}
{% if request.user.is_authenticated %}


<div class="mt-5">
	
	<a class="btn btn-primary" href = "{% url 'edit' realtor.id %}"role="button">Edit Propety  </a>

	<a class="btn btn-danger" href ="{% url 'delete' realtor.id %}"role="button">Delete Propety   </a>
</div>
<h2>
	Comments </h2>
	<a class="btn btn-secondary" href ="{% url 'comment' realtor.id %}"role="button">Add Comment </a>


{% for comment in realtor.comments.all %}
    <div class="d-flex flex-column">
  
       <div><h5 class="card-body bg-#fbe9e7 deep-orange lighten-5" style ="width:500px;"> 
       
      
        <p style="color:red">{{ comment.text }}</p>
        <div class="date">{{ comment.created_date }}</div>
    </div>
 
</div>


{% endfor %}
{% endif %}


{% endblock body %}