
{% extends 'base.html' %}
{% load static %}
{% block title %} | Welcome {% endblock %}

{% block body %}
  {% if user.is_authenticated %}
  <h1 class="text-center">  {{ user.username }}</h1>
    <div class>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  </div>
 <form action= "{% url 'search' %}"  method="get">
 
  <input type ="text" name ="q">
<input type ="submit" value ="search">
</form>
  <h2>Property List</h2>
  {% for element in object_list %}
   <div class="card md-2 mt-2">
    <div clas="card-body">
       <a class = "card-link text-danger text-danger " 
   href="{% url 'detail' element.id %}">
<div class="container m-3">
  <li class="lisit-inline-item">
       <img src="{{ element.photo.url }}" class="img-fluid img-thumbnail"alt="{{ element.type }}">
     <h3 class="text-light">{{ element.owner_name}}</h3>
     <h4 class="text-success">{{ element.district }}</h4>
     <h5>{{ element.phone }}</h5>
     <h6>{{ element.email }}</h6>
       <h6 class="text-muted" > Added {{ element.created_at|timesince }} Ago</h6>
                    
   </li>
 </div>

</div>
</div>

     {% endfor %}
  {% else %}
  <p>You are not logged in</p>
  <p><a href="{% url 'signup' %}">Sign Up</a></p>
<p><a href="{% url 'login' %}">Log In </a></p>
{% endif %}

{% endblock body %}