
{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}

{% block body %}
  {% if user.is_authenticated %}
  <h1 class="text-center">  {{ user.username }}</h1>
    <div class>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  </div>
 <form action= "{% url 'search' %}"  method="get">
 
  <input type ="text" name ="q">
<input type ="submit" value ="search">
</form>
  <h2>Property List</h2>
  {% for element in object_list %}
   <div class="card" style="width: 25rem;" "height: 30rem;">
      <div clas="card-body">
       <a class = "card-link text-danger text-danger " 
   href="{% url 'detail' element.id %}">
<div class="container m-3">
  <li class="lisit-inline-item">
       <img src="{{ element.photo.url }}"  alt="image"  height="250" width="250">
     <h3 class="text-success">{{ element.owner_name}}</h3>
     <h4 class="text-success">{{ element.district }} :District</h4>
     <h5>{{ element.phone }}</h5>
     <h6>{{ element.price }} :Price</h6>
       <h6 class="text-muted" > Added {{ element.created_date|timesince }} Ago</h6>

                    
   </li>
 </div>

</div>
</div>

     {% endfor %}
  {% else %}
  <p>You are not logged in</p>


 <p> <a href="{% provider_login_url 'github' %}">Sign Up</a></p>

<p><a href="{% url 'login' %}">Log In </a></p>
 {% endif %}




{% endblock body %}